<p>
  <b>Name:</b>
  <%= @user.name %>
</p>

<p>
  <b>Birthday:</b>
  <%= @user.birthday %>
</p>

<p>
  <b>Website:</b>
  <%= @user.website %>
</p>

<p>
  <b>Location:</b>
  <%= @user.location %>
</p>

